.card.cards-wrapper {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9ecef;
    .card-body{
        .card.card-stat {
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            border: 1px solid #e9ecef;
            border-radius: 10px;
        }

    }


}